<!DOCTYPE html>
<html>
<head><title>Book App</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <header>
         <h1>Best Books ! </h1>
    </header>
<main>
    <div class="container">
        <div class="books">
            <% searchResults.forEach(book => { %>
                <img src="<%= book.img %>" alt="<%= book.title%>">
                <h1><%= book.title%></h1>
                <h2><%= book.author%></h2>
                <p><%= book.description%></p>
            <% }) %>
        </div>
    </div>
</main>
<footer><section></section></footer>
</body>
</html>
<!-- res.send(ejs.render (template,data)); -->